@{
    ViewData["Title"] = "Chat";
    var userName = User.Identity.Name;
}

<h2>Chat</h2>

<div style="display: flex;">
    <div style="flex: 1;">
        <ul id="messagesList"></ul>
        <input type="text" id="messageInput" />
        <button id="sendButton">Send</button>
    </div>
    <div style="width: 200px; margin-left: 20px;">
        <h3>Users</h3>
        <ul id="usersList"></ul>
    </div>
</div>

<input type="hidden" id="userName" value="@userName" />

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
}


@* @{
    ViewData["Title"] = "Chat";
    var userName = User.Identity.Name;
}

<h2>Chat</h2>

<input type="hidden" id="userName" value="@userName" />

<div>
    <input type="text" id="messageInput" />
    <button id="sendButton">Send</button>
    <ul id="messagesList"></ul>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
} *@

@* @page
<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script> *@